<form hx-post="/todos" hx-on::after-request="if(event.detail.successful) this.reset()"
    hx-on:htmx:afterRequest="htmx.trigger('#myListContent', 'load')" hx-target="#myListContent" hx-swap="innerHTML"
    hx-ext="json-enc">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Name
    </label>
    <input type="text" id="name" name="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required />
    <label for="description" name="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Description
    </label>
    <input type="text" id="description" name="description"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required />
    <button type="submit" class="bg-blue-500 text-white py-2 px-2 rounded-lg mt-2">
        create
    </button>
    <button type="button" class="bg-gray-500 text-white py-2 px-2 rounded-lg mt-2" hx-get="/todos/cancel-action"
        hx-target="#itemContent" hx-swap="innerHTML">
        Cancel
    </button>

</form>