<li class="flex items-center justify-between">
    <p class="cursor-pointer underline">{{ todo.name }} - {{ todo.description }}</p>
    <div>
        <button class="bg-blue-500 text-white py-2 px-2 rounded-lg mt-2" hx-target="#itemContent"
            hx-get="/todos/edit/{{ todo.id }}">edit</button>
        <button class="bg-blue-500 text-white py-2 px-2 rounded-lg mt-2" hx-delete="/todos/{{ todo.id }}"
            hx-target="#myListContent" hx-confirm="Are you sure you wish to delete this item?">delete</button>
    </div>
</li>